.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.logo {
  width: 50%;
}
.title {
  color: rgb(216, 21, 63);
}
.input-wish {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.wishlist {
  overflow: hidden;
  width: 100%;
}
